<html>
  <head>
    <title>Github Linter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/pico.min.css">
    <link rel="stylesheet" href="/css/github-linter.css">
    <link rel="icon" type="image/svg+xml"
      href="/favicon.svg">
  </head>

  <body>
    <div id="repos">
      <main class="container">
        {% block content %}
        {% endblock content %}
      </main>
      <!-- development version, includes helpful console warnings -->
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
      <script src="github_linter.js" defer></script>
    </div>
  </body>
</html>