{% extends "basetemplate.html" %}


{% block content %}


<h1>Repositories (|totalRepos|)</h1>
<label for="firstname">Search
  <input id="repofilter" placeholder="Filter Repos" type="text" v-model="repo_filter" /></label>
<a href="#" id="update_repos" v-on:click="updateReposBackend" role="button"  :class="{ outline: !waiting_for_update }">Update Repositories</a>
<a href="#" id="hide_archived" @click="hide_archived = !hide_archived" role="button"  :class="{ outline: !hide_archived }">Hide archived</a>
<a href="#" id="show_has_issues" @click="show_has_issues = !show_has_issues" role="button"  :class="{ outline: !show_has_issues }" >Show repos with open issues</a>
<table>
<thead>
  <tr>
    <th scope="col">Name</th>
    <th>&nbsp;</th>
    <th scope="col">Archived</th>
    <th scope="col">Open Issues <span id="totalIssues">(| totalFilteredOpenIssues |)</span></th>
  </tr>
</thead>
<tbody>
<tr v-for="(repo, index) in filteredRows" :key="`repo-${repo.full_name}`">
  <th scope="row">| repo.full_name | <span v-if="repo.private">(P)</span></th>
  <td><a :href="'https://github.com/'+repo.full_name" target="_blank">Open in github</a></td>

  <td v-if="repo.archived == 1">🪦</td><td v-else></td>
  <td>
    <!-- https://renatello.com/vue-js-href/ -->
    <a v-if="repo.open_issues > 0" :href="'https://github.com/'+repo.full_name+'/issues'" target="_blank">|repo.open_issues|</a>
  </td>
</tr>
</tbody>
</table>
</div>

{% endblock content %}