---
name: MKDocs Deployment to GitHub Pages

"on":
  push:
    branches:
      - main

jobs:
  mkdocs:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v5
      - name: Running mkdocs
        run: |
          python --version
          python -m pip install --quiet --no-cache-dir --upgrade uv
          uv run mkdocs gh-deploy -m 'Commit {sha} MkDocs {version}'
