---
name: MKDocs Deployment to GitHub Pages

"on":
  push:
    branches:
      - main

jobs:
  mkdocs:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          activate-environment: "true"
          github-token: ${{ github.token }}
      - name: Running mkdocs
        run: |
          uv run mkdocs gh-deploy -m 'Commit {sha} MkDocs {version}'
