[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #8e24aa;
  --primary-hover: #5f1972;
}

main {
  margin-top: 0.8rem;
}
h1 {
  margin-bottom: 1rem;
}

.buttonbar {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}
