<html>
<head>
  <title>Github Linter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/pico.min.css">
    <link rel="icon" type="image/svg+xml"
 href="/favicon.svg">
  <style>
    [data-theme="light"],
    :root:not([data-theme="dark"]) {
        --primary: #8e24aa;
        --primary-hover: #5f1972;
    }

  </style>
</head>

<body>
<div id="repos">
  <main class="container">
  <h1>Repositories ({{totalRepos}})</h1>
    <!-- <div> -->
      <!-- Last update: {{sprintf(last_updated, "%Y-%m-%d %H:%M:%S")}} -->
    <!-- </div> -->
    <label for="firstname">Search
      <input id="repofilter" placeholder="Filter Repos" type="text" v-model="repo_filter" /></label>
    <a href="#" id="update_repos" v-on:click="updateReposBackend" role="button"  :class="{ outline: !waiting_for_update }">Update Repositories</a>
    <a href="#" id="hide_archived" @click="hide_archived = !hide_archived" role="button"  :class="{ outline: !hide_archived }">Hide archived</a>
    <a href="#" id="show_has_issues" @click="show_has_issues = !show_has_issues" role="button"  :class="{ outline: !show_has_issues }" >Show repos with open issues</a>
  <table>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th>&nbsp;</th>
        <th scope="col">Archived</th>
        <th scope="col">Open Issues <span id="totalIssues">({{ totalFilteredOpenIssues }})</span></th>
      </tr>
  </thead>
  <tbody>
    <tr v-for="(repo, index) in filteredRows" :key="`repo-${repo.full_name}`">
      <th scope="row">{{ repo.full_name }} <span v-if="repo.private">(P)</span></th>
      <td><a :href="'https://github.com/'+repo.full_name" target="_blank">Open in github</a></td>

      <td v-if="repo.archived == 1">🪦</td><td v-else></td>
      <td>
        <!-- https://renatello.com/vue-js-href/ -->
        <a v-if="repo.open_issues > 0" :href="'https://github.com/'+repo.full_name+'/issues'" target="_blank">{{repo.open_issues}}</a>
      </td>
    </tr>
  </tbody>
  </table>
</div>
    <!-- development version, includes helpful console warnings -->
  </main>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="github_linter.js"></script>

</body>
</html>
