---
name: bandit static checks

"on":
  push:
    branches:
      - main
  pull_request:

jobs:
  bandit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run bandit
        run: |
          python --version
          python -m pip install --quiet --no-cache-dir --upgrade uv
          uv run bandit -r $(basename $(pwd) | sed -E 's/-/_/')
