---
name: pylint

"on":
  push:
    branches:
      - main
  pull_request:

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Running pylint
        run: |
          python --version
          python -m pip install --quiet --no-cache-dir --upgrade uv
          uv run ruff check $(basename $(pwd)) tests
