---
name: pytest

"on":
  push:
    branches:
      - main
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          activate-environment: "true"
          github-token: ${{ github.token }}
      - name: Running pytest
        run: |
          uv run python -m pytest -m 'not network'
